@charset "utf-8";
/* CSS Document */
/*styles for Product Finder mod updated 2010-09-29*/
.pf_selectbox_name {/*text in front of drop-down select box*/
	width: 125px;
}
.pf_selectbox_text {/*text of select box*/
	width: 125px;
}
#product_finder form{
	margin:0;
	padding:0;
	width; 125px;
}
.pf_noscript {
	position: relative;
	left: 100px;
}

