@charset "utf-8";
/* CSS Document */
/*styles for Product Finder mod updated 2010-09-29*/
#product_finder_wrapper {/*using a wrapper and inner div to use two different background images*/
	background-image:url(../images/background_bg.gif);
	background-repeat:repeat;
	margin:3px auto;
	background-color: #336633;
	padding:3px 3px 3px 3px;
}
#product_finder {
	background-image: url(../images/search_bar.png);
	background-repeat:no-repeat;
	height:30px;
	font-weight:bold;
	background-color: #CCC;
}
#product_finder form{
	margin:0;
	padding:0;
}
#product_finder ul {
	width:100%;
	margin:0;
	padding:0;
	line-height:30px;/*same as #product_finder to vertically-align list*/
	text-align:center;
}
#product_finder ul li {
	display:inline;
	list-style:none;
}
#product_finder ul li noscript input {
	vertical-align:middle;/*not perfect..*/
}
#pf_title {/*"Show Products for..."*/
	font-weight:bold;
	font-family:arial;
	font-size:14px;
	margin-right:5px;
}
.pf_selectbox_name {/*text in front of drop-down select box*/
	font-weight:bold;
	font-family:arial;
	font-size:13px;
	margin-right:2px;/*space beween the drop-down name and the drop-down box*/
}
.pf_selectbox_text {/*text of select box*/
	padding:1px;
	border: 2px solid #949494;
	font-size:12px;
}

